.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  display: grid;
  place-items: center;
  grid-template-columns: 420px 700px;
  grid-template-rows: 700px;
  box-shadow: 3px 4px 4px 3px gray;
}

.login_formSection {
  display: grid;
  align-items: center;
  grid-template-columns: 300px;
  grid-template-rows: 250px 450px;
  row-gap: 40px;
}

.login_formSection_top {
  align-self: flex-end;
  text-align: center;
}

.login_formSection_bottom {
  align-self: flex-start;
}

.login_options {
  display: grid;
  grid-template-columns: 50% 50%;
}

#main_login {
  width: 300px;
}

#find_link {
  justify-self: start;
  text-decoration: none;
  color: inherit;
}

#signup_link {
  justify-self: end;
  text-decoration: none;
  color: inherit;
}

.imageSection {
  width: 100%;
  height: 100%;
  background-image: url('../image/LoginVisual_3.jpg');
  background-size: cover;
}
